.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-scroll-1 {
  border: 1px solid #000000;
  display: inline-block;
  background-color: whitesmoke;
}


.div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-container {
  border: 1px solid black;
  width: 50%;
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: 1;
  margin-top: 10px;
}

.emotion {
  border: 1px solid black;
  margin: 0px;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.verse {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.div-login {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 60%;
  width: 300px;
  border-radius: 15px;
  margin-top: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-main-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #020024;
  background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

input {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}